{% assign permalink_parts = page.permalink | split: "/" %}
<header>
    <nav class="navbar navbar-dark bg-primary p-0 pt-2">
        <div class="container">
            <div class="media navbar-brand">
                <a href="/">
                    <img src="{{ "/assets/images/logo.png" }}" width="56" height="50" class="d-inline-block align-top"
                        alt="">
                </a>
                <div class="media-body">
                    <h3 class="my-0 text-white">Lucie Tétreault pht.</h3>
                    <span class="small">lucietetreault@yahoo.ca | 514-522-5995</span>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary border-secondary pt-0"
        style="border: 0; border-style: solid; border-bottom-width: 5px;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav nav-pills">
                    {% for item in site.data.navbar %}
                    {% assign link_parts = item.link | split: "/" %}
                    <li class="nav-item">
                        <a class="nav-link btn-sm btn-outline-secondary text-white text-sm-center border border-ternary mx-1 {% if permalink_parts[1] == link_parts[1] %}active{% endif %}"
                            href="{{ item.link }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    {% assign subnavbar = site.data.subnavbar[page.navbar] %}
    {% if subnavbar %}
    <ul class="nav nav-pills flex-column flex-sm-row bg-secondary justify-content-center pb-1">
        {% for item in subnavbar %}
        <li class="nav-item">
            <a class="nav-link btn-sm btn-outline-primary text-white text-sm-center border border-ternary mx-1 px-2 py-1 {% if page.permalink == item.link %}active{% endif %}"
                href="{{ item.link }}">{{ item.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</header>